@{
    Layout = null;
}

<link href="~/images/torruna.png" rel="icon">
<title>Email Confirm - Torruna</title>
<style>
    body, html {
        height: 100%;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #eee;

    }

    #centered-div {
        width: 100%;
        height: 500px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        text-align: center;
        line-height: 200px;
    }
 </style>
<link href="~/images/torruna.png" rel="icon">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

<!-- Flaticon Font -->
<link href="~/lib/flaticon/font/flaticon.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

<!-- Customized Bootstrap Stylesheet -->
<link href="~/css/style.css" rel="stylesheet">



<style>
    body, html {
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        width: 98%;
    }
</style>


    <div class="container-fluid">

        <div class="row justify-content-center mt-1">
            <div class="col-sm-4 mb-1" style="box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important;
    background-color: #fff; border-radius: 20px;">
                <div class="contact-form ">
                    <div class="d-flex flex-column text-center mb-1 pt-2">
                        <img src="~/images/torruna.png" style="height:70px;margin:auto;padding:3px" />
                        <h4 class="text-secondary mb-1">Torruna </h4>
                    <h4 class="m-0">Email verification completed successfully...</h4>
                    <h3> Please <a href="https://www.torruna.store/Account/Login" style="font-weight:800">click</a> to login</h3>
                    <span class="small mr-2">Powered by <a href="https://www.amazon.com/stores/LeatherDogCollar/page/E13E8438-BBE1-4498-AEB6-9F2454F5ADDB?ref_=ast_bln" target="_blank" rel="noopener noreferrer">TORRUNA</a></span>
                    </div>
          
                           
                        </div>

                  
                </div>
            </div>

        </div>

   
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/account/jqBootstrapValidation.min.js"></script>
    <script src="~/account/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>
