@model ResetPasswordModel
@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Torruna Tag Page" name="keywords">
<meta content="Torruna Tag Page" name="description">
<link href="~/images/torruna.png" rel="icon">
<title>Reset Password - Torruna</title>
<!-- Google Web Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

<!-- Flaticon Font -->
<link href="~/lib/flaticon/font/flaticon.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

<!-- Customized Bootstrap Stylesheet -->
<link href="~/css/style.css" rel="stylesheet">
<style>
    body, html {
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        width: 98%;
    }
</style>
<body>

    <div class="container-fluid">

        <div class="row justify-content-center mt-1">
            <div class="col-sm-4 mb-1" style="box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important;
    background-color: #fff; border-radius: 20px;">
                <div class="contact-form ">
                    <div class="d-flex flex-column text-center mb-1 pt-2">
                        <img src="~/images/torruna.png" style="height:70px;margin:auto;padding:3px" />
                        <h4 class="text-secondary mb-1">Torruna </h4>
                        <h3 class="m-0">Reset Password</h3>
                    </div>
                    <form method="post">
                 
                        <input type="hidden" asp-for="Email" />
                        <input type="hidden" asp-for="Token" />
                        <div asp-validation-summary="All" class="text-danger">
                        </div>
                        @if (ViewBag.SuccessMessage != null)
                        {
                            <div class="form-group alert alert-info">
                                <span>@ViewBag.SuccessMessage</span>
                            </div>
                        }
                        <div class="control-group mb-2">
                            <input  class="form-control p-4" placeholder="New Password" asp-for="Password" />
                            <span class="help-block text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="control-group mb-2">
                            <input class="form-control p-4" placeholder="Confirm New Password" asp-for="ConfirmPassword" />
                            <span class="help-block text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <div class="control-group">
                            <button class="btn btn-primary py-2 px-2 mb-2 form-control" type="submit" id="sendMessageButton">Reset Password</button>

                        </div>

                        <hr style="height:1px;color:red;margin:0" />
                        <div class="control-group " style="text-align:center">
                            <span class="small mr-2">Powered by</span><a href="https://www.amazon.com/stores/LeatherDogCollar/page/E13E8438-BBE1-4498-AEB6-9F2454F5ADDB?ref_=ast_bln" target="_blank" rel="noopener noreferrer"><img src="~/images/torruna.png" style="height:25px;margin:auto;padding:5px" />TORRUNA</a>
                        </div>

                    </form>
                </div>
            </div>

        </div>

    </div>
</body>