@model QrCode.WebUi.Models.QrCodeModel 
@{
    ViewData["Title"] = "GetQrCode"; 
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<title>Create Tag - Torruna</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#navbarCollapse > div > a.nav-item.nav-link.active').removeClass('active');
        $("#navbarCollapse > div > div > a").addClass("active");        
    });
</script>
<!-- Customized Bootstrap Stylesheet -->
<div class="container-fluid pt-5">
    <div class="d-flex flex-column text-center mb-3 pt-1">
        <h4 class="text-secondary mb-3">Generate QrCode </h4>
       @* <h1 class="display-4 m-0" id="h1Title">Sign in</h1>*@
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 mb-5">
            <div class="contact-form">
        <form asp-action="CreateQrCode" method="post">       
            <div class="form-group">
                        @if (TempData["QrCodeImageUrl"] != null)
                        {
                            <div class="control-group" style="text-align:center">
                                <img src="data:image;base64,@TempData["QrCodeImageUrl"]" class="img-fluid" style="border-radius:15px;width:100%" />
                                <a href="data:image;base64,@TempData["QrCodeImageUrl"]" class="btn btn-secondary py-3 px-5"
                                   style="padding:5px" download="@(Model.OrderSKU)_@(Model.OrderNo).png">
                                    Download
                                </a>
                            </div>                          
                        }                        
                <div class="control-group">
                            <input type="text" class="form-control p-4" id="OrderNo" placeholder="Order ID" required="required" data-validation-required-message="Please enter Order No" asp-for="OrderNo" />
                    <p class="help-block text-danger"></p>
                </div>
                        <div class="control-group">
                            <textarea type="text" class="form-control p-4" id="Address" placeholder="Customer Name and Address" asp-for="Address"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="OrderSku" placeholder="SKU" required="required" data-validation-required-message="Please enter Please enter Order Sku" asp-for="OrderSKU" />
                            <p class="help-block text-danger"></p>
                        </div>
                <div class="control-group">
                            <input type="text" class="form-control p-4" id="OrderName" placeholder="Dog's Name" required="required" data-validation-required-message="Please enter Customization Name" asp-for="OrderName" />
                    <p class="help-block text-danger"></p>
                </div>
                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="OrderTelephone" placeholder="Phone Number" required="required" data-validation-required-message="Please enter your name" asp-for="OrderTelephone" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="DogLeash" placeholder="Leather Dog Leash" asp-for="DogLeash" />
                            <p class="help-block text-danger"></p>
                        </div>
               
@*                         <div class="control-group">
                            <input type="text" class="form-control p-4" id="CustomerName" placeholder="Customer Name"  asp-for="CustomerName" />
                            <p class="help-block text-danger"></p>
                        </div> *@
                    
                       
                <div style="justify-content:end;display:flex">                    
                    <button class="btn btn-primary py-3 px-5" style="z-index:999" type="submit" id="btnCreateQrCode">Generate</button>
                </div>
               
            </div>
        </form>
            </div>
        </div>

    </div>
</div>
